@model BatidaPorDataModel
@{
    ViewData["Title"] = "Gerenciamento de batidas";
}

<h1>Gerenciamento de batidas</h1>

@if(TempData["MensagemSucesso"] != null){
    <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>@TempData["MensagemSucesso"]</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}

@if(TempData["MensagemErro"] != null){
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>@TempData["MensagemErro"]</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}

<br />
<br />

<a class="btn btn-primary" asp-controller="Batida" asp-action="Criar">Adicionar batida</a>
<a class="btn btn-primary" asp-controller="Batida" asp-action="Lista">Listar batidas</a>

<br />

<hr />

<h2>Exportar batidas</h2>

<form asp-controller="Batida" asp-action="ExportarBatidas">
    <div class="mb-3">
        <label for="dtInicial">Data inicial</label>
        <input asp-for="DataInicial" id="dtinicial" class="form-control" type="date" />
        @Html.ValidationMessageFor(d => d.DataInicial)
    </div>
    <div class="mb-3">
        <label for="dtFinal">Data Final</label>
        <input asp-for="DataFinal" id="dtFinal" class="form-control" type="date" />
        @Html.ValidationMessageFor(d => d.DataFinal)
    </div>

    <button type="submit" class="btn btn-primary">Exportar</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Voltar</a>
</form>
